.Detail {
  display: inline-block;
  border: solid 2px gray;
  border-radius: 5%;
  box-shadow: 10px 10px 46px 0px rgba(207,192,207,0.93);


  &__information {
    display: grid;
    grid-template-columns: 27% 60%;
    justify-content: space-around;
    grid-column-gap: 3%;
    margin-left: 5%;
    margin-right: 5%;

    @media (max-width: 425px) {
      display: grid;
      grid-template-columns: 100%;
      grid-row-gap: 3%;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    img {
      width: 180px;
      height: 220px;
    }

  }

  &__title {
    font-family: $main-font;
    text-align: center;
    color: #d1ce26;
  }
}

