.Detail {
  display: inline-block;
  border: solid 2px gray;
  border-radius: 5%;
  box-shadow: 10px 10px 46px 0px rgba(207,192,207,0.93);

  &__picture {
    margin: 5px 40px;
    img {
      width: 180px;
      height: 220px;
    }
  }

  &__title {
    font-family: $main-font;
    text-align: center;
  }
}

