body {
  background: $black;
  color: $primary-color;
  font-family: $base-font;
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-around;
  grid-column-gap: 50px;
  margin-left: 10%;
  margin-right: 10%;

  @media (max-width: 425px) {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 3%;
    font-size: 15px;
  }
}