@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

$black: #131010;

$primary-color: #ffffff;
$main-font: 'Fredoka One', cursive;

$font-pt: 'PT Serif', serif;