@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$black: #131010;

$primary-color: #ffffff;
$main-font: 'Fredoka One', cursive;

$base-font: 'Source Sans Pro', sans-serif;